<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>
            RateYourModule 
            {% block title_block %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
        {% block css_block %}
        {% endblock %}
    </head>
    <body>
        <div id="navigation">
            <h1 class="nav-inline" id="nav-title"><a href = "{% url 'rateyourmodule:index' %}"> RateYourModule </a></h1>
            <form method = "get" action="{% url 'rateyourmodule:modules' %}" class="nav-inline" id="nav-search"><input id="search-input" type = "text", name = "query" placeholder="Search for a module" onsubmit="return false ;"><div id="search-suggestions"></div></form>
            <div id="buttons" class="nav-inline">
                {% if user.is_authenticated %}
                    <button id="leftBttn"><a href="{% url 'rateyourmodule:show_profile' user.username %}">{{ user.username.capitalize }}</a></button>
                    <button id="rightBttn"><a href="{% url 'rateyourmodule:logout' %}">Log Out</a></button>
                {% else %}
                    <button id="leftBttn"><a href="{% url 'rateyourmodule:signup' %}">Sign Up</a></button>
                    <button id="rightBttn"><a href="{% url 'rateyourmodule:login' %}">Log In</a></button>
                {% endif %}
            </div>
        </div>
        <hr />
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <script>var suggestUrl = "{% url 'rateyourmodule:suggest' %}" ;</script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'JS/search-ajax.js' %}"></script>
    </body>
</html>    