{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Modules
{% endblock %}
{% block css_block %}
<link rel="stylesheet" href="{% static 'CSS/modules.css' %}">
{% endblock %}

{% block body_block %}
<main>
    <div id="modules">
        {% if modules %}
            {% for m in modules %}        
                <p>{{ m.short_name }}:</p><a href="{% url 'rateyourmodule:show_module' m.moduleID %}">{{ m.full_name }}</a>
                <br />
            {% endfor %}
        {% else %}
            <strong>No modules currently available.</strong>
        {% endif %}
    </div>

    <button id="addMod" onclick="showMod()">Add Module</button>

    <div id="addModule">
        <form method="post" action="{% url 'rateyourmodule:modules' %}">
            {% csrf_token %}
            <label for="mod-id">Module ID: </label> <input type="text" id="mod-id" name="moduleID">
            <label for="mod-short">Short name: </label> <input type="text" id="mod-short" name="short_name">
            <label for="mod-long">Long name: </label> <input type="text" id="mod-long" name="long_name">
            <button type="submit" id="modBttn">Add Module</button>
        </form>
    </div>
</main>
<script src="{% static 'JS/addModuleScript.js' %}"></script>

{% endblock %}