{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <div class = "profile">
            <img src = "{{ user.picture }}">
            <h2> {{ profile.user.username }} | Student </h2>
            <h2> {{ profile.user.email }}</h2>
            <button type = "button" onclick = "delete_profile('{{ profile.user.username }}')">Delete Account</button>
            <button type = "button" onclick = "edit_profile('{{ profile.user.username }}')">Edit Profile</button>

            <div class = "edit_profile" id="edit_profile{{ profile.user.username }}">
                <form method = "post"  enctype="multipart/form-data" action = "{% url 'rateyourmodule:edit_profile' profile.user.username %}">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}                        
                    <button type = "submit"> Save </button> 
                    <input type = "text" id = "user-username-{{ profile.user.username }}" name = "username" value = "{{ profile.user.username }}">
                </form>
            </div>
            <div class = "delete_profile">
                <form method = "post" action = "{% url 'rateyourmodule:delete_profile' profile.user.username %}">
                    {% csrf_token %}
                    <button type = "submit">Delete</button>
                </form>
            </div>


        </div>
        <br />
        {% if reviews %} 
            {% for review in reviews %}
                {% if user.is_authenticated and user.username == review.student.user.username %}
                    <div class = "edit_review">
                        <p>Rating: {{ review.rating }}</p>
                        <p> {{ review.message }}</p>               
                        <button type = "button" onclick="edit_review('{{ review.reviewID }}')">Edit</button>
                        <div class = "delete_review">
                            <form method = "post" action = "{% url 'rateyourmodule:show_module' module.moduleID %}">
                                {% csrf_token %}
                                <input type = "hidden" name = "action" value = "delete_review">
                                <input type = "hidden" name = "reviewID" value = "{{ review.reviewID }}">
                                <button type = "submit">Delete</button>
                            </form>
                        </div>
                        <div class = "edit_review" id="edit_review{{ review.reviewID }}" style = "display:none;">
                            <form method = "post" action = "{% url 'rateyourmodule:show_module' module.moduleID %}">
                                {% csrf_token %}
                                <input type = "hidden" name = "action" value = "edit_review">
                                <input type = "hidden" name = "reviewID" value = "{{ review.reviewID }}">
                                <input type = "number" id = "review-rating-{{ review.reviewID }}" name = "rating" min = "1" max = "5" value = "{{ review.rating }}">
                                <input type = "text" id = "review-comment-{{ review.reviewID }}" name = "comment" value = "{{ review.content }}">                                 <button type = "submit"> Save </button> 
                            </form>
                        </div> 
                    </div>   
                {% endif %} 
                {% for comment in review.comments %}
                    <p> {{ comment }} </p>
                {% endfor %}
           {% endfor %}
        {% else %}
            <p>No reviews currently available.</p>
        {% endif %}
    {% else %}
        <h2> Log in to view profile.</h2>
    {% endif %}
{% endblock %}